<% include ./partials/header %>

<div class="ui main text container">
	<div class="ui huge header">Weather App</div>
	<div class="ui top attached segment">
		<p><%= errorMessage %></p>
	</div>
	
	<button class="ui primary basic button"><a href="/">Try Again</a></button>
</div>

<% include ./partials/footer %>