<% include ./partials/header %>

<div class="ui main text container">
	<div class="ui huge header">Weather App</div>
	<p><%= address %></p>
	<p><%= temp %></p>
	<p><%= appTemp %></p>
</div>

<% include ./partials/footer %>